img{
    width: 10vw;
    height: 15vh;
    object-fit: fill;
    border-radius: 30%;
}

.hero-img-west{
    position: absolute;
    bottom: 35%;
    left: 15%;
    cursor: pointer;
}

.hero-img-east{
    position: absolute;
    bottom: 35%;
    left: 27%;
}

.hero-img-south{
    position: absolute;
    bottom: 17.5%;
    left: 21%;
}

.hero-img-north{
    position: absolute;
    bottom: 52.5%;
    left: 21%;
    
}

.hero-img-circle{
    position: absolute;
    bottom: 35%;
    right: 15%;
}

.hero-img-ex{
    position: absolute;
    bottom: 17.5%;
    right: 21%;
}

.hero-img-square{
    position: absolute;
    bottom: 35%;
    right: 27%;
}

.hero-img-triangule{
    position: absolute;
    bottom: 52.5%;
    right: 21%;   
}

.pointingImg{
    cursor: pointer;
}
.userSentence-title{
    position: absolute;
    bottom: 5%;
    left: 41.8%;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}